*.css linguist-detectable=false
*.js linguist-detectable=false
*.md linguist-detectable=false
*.ts linguist-detectable=true
*.html linguist-detectable=false
*.css linguist-detectable=false
doc/* linguist-documentation
